aiohttp==3.8.3
aiosignal==1.2.0
altair==4.2.0
altgraph==0.17.2
asgiref==3.5.0
async-timeout==4.0.2
attrs==22.1.0
auto-whatsapp==0.0.5
backoff==1.11.1
base58==2.1.1
beautifulsoup4==4.10.0
bitarray==2.6.0
blackeye==0.1
blinker==1.5
bs4==0.0.1
cachetools==5.2.0
certifi==2021.10.8
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.12
chess==1.8.0
click==8.1.3
colorama==0.4.4
commonmark==0.9.1
comtypes==1.1.11
cryptography==36.0.2
cs50==9.0.0
cycler==0.11.0
cytoolz==0.12.0
decorator==5.1.1
Django==4.0.2
docopt==0.6.2
entrypoints==0.4
eth-abi==2.2.0
eth-account==0.5.9
eth-hash==0.5.0
eth-keyfile==0.5.1
eth-keys==0.3.4
eth-rlp==0.2.1
eth-typing==2.3.0
eth-utils==1.9.5
fake-useragent==0.1.11
Flask==2.0.3
fonttools==4.33.3
freegames==2.4.0
frozenlist==1.3.1
future==0.18.2
gitdb==4.0.9
GitPython==3.1.29
google==3.0.0
Google-Search-API==1.1.14
googletrans==3.0.0
greenlet==1.1.2
h11==0.9.0
h2==3.2.0
hexbytes==0.3.0
hpack==3.0.0
hstspreload==2021.12.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
importlib-metadata==5.0.0
ipfshttpclient==0.8.0a2
itsdangerous==2.1.0
Jinja2==3.0.3
joblib==1.1.0
Js2Py==0.71
jsonschema==4.16.0
keylogger==2.7.3
kiwisolver==1.4.3
lru-dict==1.1.8
MarkupSafe==2.1.0
MouseInfo==0.1.3
mpmath==1.2.1
multiaddr==0.0.9
multidict==6.0.2
mysql==0.0.3
mysql-connector==2.2.9
mysqlclient==2.1.1
netaddr==0.8.0
nmap==0.0.1
numpy==1.22.3
opencage==2.0.0
opencv-python==4.5.5.64
packaging==21.3
pandas==1.4.1
parsimonious==0.8.1
pefile==2021.9.3
phonenumbers==8.12.45
physics==0.2.0
Pillow==9.0.1
pipwin==0.5.2
progressbar==2.5
protobuf==3.19.5
put==0.0.7
pyarrow==9.0.0
PyAudio @ file:///C:/Users/Vishnu%20and%20Vaishnavi/pipwin/PyAudio-0.2.11-cp310-cp310-win_amd64.whl
PyAutoGUI==0.9.53
pycparser==2.21
pycryptodome==3.15.0
pydeck==0.8.0b4
pyFirmata==1.1.0
pygame==2.1.2
PyGetWindow==0.0.9
pyglet==1.5.23
Pygments==2.13.0
pyinstaller==4.10
pyinstaller-hooks-contrib==2022.3
pyjokes==0.6.0
pyjsparser==2.7.1
Pympler==1.0.1
PyMsgBox==1.0.9
pynput==1.7.6
pyOpenSSL==22.0.0
pyparsing==3.0.7
pyperclip==1.8.2
pypiwin32==223
PyPrind==2.11.3
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
PyQtWebEngine==5.15.5
PyQtWebEngine-Qt5==5.15.2
PyRect==0.2.0
pyrsistent==0.18.1
PyScreeze==0.1.28
pyserial==3.5
pySmartDL==1.3.4
pysolr==3.9.0
python-chess==1.999
python-dateutil==2.8.2
pyti==0.2.2
pyttsx3==2.90
pytube==12.1.0
pytweening==1.0.4
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
pywhatkit==5.3
pywin32==303
pywin32-ctypes==0.2.0
pyxel==1.7.1
pyxel-physics==0.1.0
PyYAML==3.12
qrcode==7.3.1
requests==2.27.1
rfc3986==1.5.0
rich==12.6.0
rlp==2.0.1
scikit-learn==1.0.2
scipy==1.8.0
selenium==2.53.6
semver==2.13.0
simpleai==0.8.3
six==1.16.0
sklearn==0.0
smmap==5.0.0
sniffio==1.2.0
soupsieve==2.3.1
speech-to-text==0.1.0
SpeechRecognition==3.8.1
SQLAlchemy==1.4.31
sqlparse==0.4.2
streamlit==1.13.0
sympy==1.10.1
termcolor==1.1.0
threadpoolctl==3.1.0
toml==0.10.2
toolz==0.12.0
tornado==6.2
typing_extensions==4.4.0
tzdata==2021.5
tzlocal==4.1
Unidecode==1.3.3
urllib3==1.26.8
validators==0.20.0
varint==1.0.2
vcrpy==4.1.1
vidstream==0.0.14
watchdog==2.1.9
watson-developer-cloud==0.25.1
web3==5.31.1
websockets==9.1
Werkzeug==2.0.3
whatsapp-web==0.0.1
wikipedia==1.4.0
wrapt==1.13.3
xlib==0.21
yarl==1.7.2
zipp==3.9.0
